  <div class="font-thin text-center my-8 text-xl flex-1">
  <p>
    Menu Order
  </p>
</div>
<div class="flex flex-col">
  <div class="container flex flex-wrap justify-center m-auto" id="cards">
    <% @menu_items.each do |m| %>
      <% # %div.rounded-lg.overflow-hidden.shadow-lg.w-full.h-20.text-left.bg-white.mt-5.flex.items-center.m-auto %>
      <% #     %img.w-16.h-16.rounded-full.mr-4.bg-gray-700.ml-3 %>
      <div class="lg:w-1/6 sm:w-1/2 xl:1/6 rounded-lg overflow-hidden shadow-lg m-3 bg-white card" id="<%= "#{m.id}-#{@order.id}" %>">
        <%# <img class="w-full"> %>
          <%= image_tag "burger.jpg" %>
        <%# </img> %>
        <div class="px-6 py-4 flex flex-col items-stretch flex-wrap jusrify-end">
          <div class="font-bold text-lg mb-1 flex-1">
            <p>
              <%= m.name %>
            </p>
            <p class="text-right">
              <%= m.ar_name %>
            </p>
          </div>
          <p class="text-gray-700 text-sm flex-1">
            <%= m.description %>
          </p>
          <p class="text-gray-600 text-base flex-1 text-center my-2">
            <%= m.price %> SAR
          </p>
          <div class=" m-auto flex justify-around self-stretch w-full mt-2">
            <button class="text-white quantity_down bg-red-500 w-8 h-8 rounded-full hover:bg-red-300" type=button>
              -
            </button>
            <p class="text-gray-700 cart_quantity">
              <%= @order.order_lines.where("menu_item_id = ?", m.id).sum(:quantity) %>
            </p>
            <button class="text-white quantity_up bg-green-500 w-8 h-8 rounded-full hover:bg-green-300 self-center" type=button>
              +
            </button>
          </div>
        </div>
        <div class="w-full px-6 py-4" id="add-order">
          <% # = render "order_lines/form", order_line: @order_line %>
          <%= link_to "Add", new_restaurant_branch_order_order_line_path(@restaurant.id, @branch.id, @order.id, params[:quantity]) , remote: true, class: "link-to-new-order w-full" %>
          <% # = j ren?der "order_lines/form", order_line: @order_line, restaurant: @restaurant.id, branch: @branch.id, order: @order.id, quantity:params[:quantity] %>
        </div>
        <div id="orders"></div>
      </div>
    <% end %>


  </div>
  <%if !@order.order_lines.empty?%>
  <div class="flex  mb-3 justify-around mx-24 mt-16" id="cards">
      <div class="w-3/4 rounded-lg overflow-hidden shadow-lg m-4 bg-white card ">
          <div class="font-bold text-lg mb-1 flex-1 text-center">
            <p class="mt-4">
              Order
            </p>
          </div>
          <table class="table-fixed w-3/5 text-left m-auto ">
            <thead>
            <tr>
              <th class="w-1/2 px-4 py-2 text-gray-800">Items</th>
              <th class="w-1/5 px-4 py-2 text-gray-800">Quantity</th>
              <th class="w-1/6 px-4 py-2 text-gray-800">Price</th>
              <th class="w-1/6 px-4 py-2 text-gray-800"></th>
              </tr>
            </thead>
            <tbody>
            <%@order.order_lines.each do |o|%>
            <tr>
            <%# <p class="text-right"> %>
            
              <td class=" px-4 py-2"> <%= o.menu_item.name %> </td>
              <td class=" px-4 py-2"> <%= o.quantity %> </td>
              <td class=" px-4 py-2"> <%= o.price %> </td>
              <td class=" px-4 py-2"> <%= link_to "X", restaurant_branch_order_order_line_path(@restaurant, @branch, o.order, o), method: :delete, class: "text-white quantity_up bg-red-600 w-4 h-4 rounded-full hover:bg-red-800 self-center"%>
            <%# </p> %>
            </tr>
            <%end%>
            </tbody>
          </table>
          <p class="text-center m-auto mt-8 mb-4">
            <span class="text-gray-800"> Total Price: <%= @order.total_price%><span>
            
          </p>
          <%# <button class="" > %>
              
          
      </div>
  </div>

  <%end%>
  
  <%if !@order.order_lines.empty?%>
    <%= link_to "Start A New Order", new_restaurant_branch_order_path(@restaurant, @branch), id: "place-oerder", class: "bg-gray-500 hover:bg-red-500 text-white font-bold py-2 px-4 rounded m-auto" %>
    <%= link_to "Checkout", restaurant_branch_order_path(@restaurant, @branch, @order), class: "bg-gray-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded m-auto mt-2" %>
  <%end%>
</div>
<% if can? :update, @branch %>
<div class="flex justify-center mt-24">
<div class="flex flex-col justify-center h-24  my-3  mx-24  w-1/4 rounded-lg overflow-hidden shadow-lg m-4 bg-white card m-auto">
  <div class="font-bold text-lg mb-1 flex-1 text-center text-red-800">
    <p class="mt-4">
      Admin Control
    </p>
  </div>
    <%= link_to 'Edit Branch', edit_restaurant_branch_path, class: "bg-gray-500 hover:bg-red-800 text-white font-bold py-2 px-4 rounded m-auto mt-2 mb-8" %>
  </div>
</div>
<% end %>
