<!DOCTYPE html>
<html>
  <head>
    <title>FoodCourt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application' %>
    <%= javascript_pack_tag 'application' %>
     <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> %>
  </head>

  <body>
  
  
  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500" id="alert">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500" id="notice">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %>
  <%= render 'layouts/nav'%>



        <%= yield %>


    <%= render 'layouts/footer'%>
  </body>
</html>
